<h2 class="bng-dark m-auto mt-5 mb-2 w-75">Edit trainer</h2>
<div class="container">
  <form #addTrainerForm="ngForm" (ngSubmit)="editTrainer()">

    <div class="row box m-auto w-75">
      <div class=" col col-12 form-gr col col-8 oup">
        <label for="full_name">full_name</label>
        <input type="text"
        class="form-control"
        id="full_name" name="full_name"
        [(ngModel)]="trainer.full_name"
        placeholder="Enter full_name"
        #NameInput="ngModel" required
        [ngClass]="{
            'is-invalid':
              (NameInput.touched || NameInput.dirty) && !NameInput.valid
          }" />
        <span class="invalid-feedback">
          @if(NameInput.errors?.['required']){
          <span>Name is required</span>
          }
        </span>
      </div>

      <div class=" col col-12 form-group mb-2">
        <label for="coachemail" class="col-form-label">E-mail</label>
        <input type="text"
        name="coachemail"
        id="coachemail"
        class="form-control"
        placeholder="E-mail"
        required email
        minlength="10"
        [(ngModel)]="trainer.email"
        #emailInput="ngModel"
        [ngClass]="{
            'is-invalid':
              (emailInput.touched || emailInput.dirty) && !emailInput.valid
          }" />
        <span class="invalid-feedback">
          @if(emailInput.errors?.['required']){
          <span>Email is required</span>
          } @if(emailInput.errors?.['email']){
          <span>Enter a valid Email</span>
          }
        </span>
      </div>

      <div class=" col col-12 form-group">
        <label for="phone_number"> Phone Number</label>
        <input type="text"
        class="form-control"
        id="phone_number"
        pattern="^(01)[0-9]{9}$"
        name="phone_number"
        [(ngModel)]="trainer.phone_number"
        placeholder="Enter Phone Number"
        required #PhoneInput="ngModel"
        [ngClass]="{
            'is-invalid':
              (PhoneInput.touched || PhoneInput.dirty) && !PhoneInput.valid
          }" />
        <span class="invalid-feedback">
          @if(PhoneInput.errors?.['pattern']){
          <span>Phone Number Must be correct</span>
          }
        </span>
      </div>


      <div class=" col col-12 form-group">
        <label for="age">Age</label>
        <input type="number"
        class="form-control"
        id="age" name="age"
        [(ngModel)]="trainer.age"
        placeholder="Enter Age"
        #AgeInput="ngModel" required />
        <span class="invalid-feedback">
          @if(AgeInput.errors?.['required']){
          <span>Age is required</span>
          }
        </span>
      </div>

      <div class=" col col-12 form-group">
        <label for="salary">salary</label>
        <input type="number"
        class="form-control"
        id="salary" name="salary"
        [(ngModel)]="trainer.salary"
        placeholder="Enter salary"
        #salaryInput="ngModel" required />
        <span class="invalid-feedback">
          @if(salaryInput.errors?.['required']){
          <span>salary is required</span>
          }
        </span>
      </div>

      <div class=" col col-12 form-group">
        <label for="profilePicture">Profile Picture</label>
        <input type="file"
        class="form-control-file"
        id="profilePicture" name="profilePicture"
        (change)="onFileSelected($event)" />
      </div>

      <button
      type="submit"
      class="btn btn-primary"
      [disabled]="addTrainerForm.invalid">
        Edit
      </button>

    </div>
  </form>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
