.logo{
  text-decoration: none;
}
.logo span{
  color: #7e2e72;
  text-transform: uppercase;

}
.logoImage{
  width: 30px;
}
.adminImage{
  width: 30px;
  border: 1px solid #000;
  border-radius: 50%;
}