<div>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light py-3 px-4 d-flex justify-content-between"
  >
    <a class="navbar-brand" href="#" class="logo">
      <span class="fs-3 fs-md-3 fw-bold">Elgymwaya</span>
      <img
        src="../../../assets/mainLogo/dumbbell-svgrepo-com.png"
        class="logoImage"
        alt=""
      />
    </a>
    <div class="info">
      <a href="" id="ShowAdmin">
        <img src="../../../assets/trainer.png" class="adminImage" alt="" />
      </a>
    </div>
  </nav>
</div>
