<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-centered mb-0">
      <thead>
        <tr>
          <th scope="col">Client Name</th>
          <th scope="col">Order ID</th>
          <th scope="col">Amount</th>
          <th scope="col">Subscription Months</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        @for (trans of transactions; track trans.id) {
        <tr>
          <td>{{ trans.client_id.full_name }}</td>
          <td>{{ trans.order_id }}</td>
          <td>{{ trans.amount }}</td>
          <td>{{ trans.subscriptionMonths }}</td>
          <td>{{ trans.payment_status }}</td>
          <th scope="col">
            <button
              class="btn btn-danger"
              (click)="deleteTransaction(trans._id)"
            >
              Delete
            </button>
          </th>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
