/* @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Square&family=Roboto:wght@100;300;400;500;700;900&display=swap"); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #7216c3;
  --primary-color-darker: #490d7e;
  --primary-color-darkest: #250441;
}

.btn-primary {
  border: none;
  color: white;
  background-color: var(--primary-color);
  padding: 8px;
  border-radius: 14px;
  display: block;
  font-weight: bold;
  outline: none;
  transition: background-color 0.2s ease-in-out;

  & svg {
    margin-right: 4px;
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--primary-color-darker) !important;
    color: white;
  }

  &:active {
    background-color: var(--primary-color-darkest) !important;
    color: white !important;
    outline: none;
  }
}

.slick-slide>div {
  margin: 0 5px;
}
.slick-arrow , .slick-prev:before, .slick-next:before {
  color: #7216c3;
}