.text_box {
    /* margin: 40px; */
    padding: 20px;
}

.featureHeader {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
}

.featureHeader::after {
    content: "";
    display: block;
    position: absolute;
    top: 120%;
    width: 60px;
    height: 2px;
    background-color: rgba(71, 68, 68, 0.385);
}

.featureHeader+p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 40px;
    width: 70%;
    line-height: 30px;
}

.text_box>button {
    background-color: #e8d9e6;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
}

.text_box>button:hover {
    background-color: blueviolet;
    color: #e8d9e6;
}