<h3 class="bng-dark m-5 mb-2">Add New User</h3>
<hr width="300px" />
<div class="container p-5">
  <form #addPlanForm="ngForm" (ngSubmit)="addTrainee()">
    <div class="row box">
      <div class="col col-12 col-md-5 form-group my-2">
        <label for="full_name">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="full_name"
          name="full_name"
          [(ngModel)]="user.full_name"
          placeholder="Enter full name"
          #NameInput="ngModel"
          required
          maxlength="40"
          minlength="5"
          [ngClass]="{
            'is-invalid':
              (NameInput.touched || NameInput.dirty) && !NameInput.valid
          }"
        />
        <span class="invalid-feedback">
          @if(NameInput.errors?.['required']){
          <span style="color: #8119db">Name is required</span>
          } @if(NameInput.errors?.['minlength']){
          <span style="color: #8119db">Minimum length is 5 characters</span>
          } @if(NameInput.errors?.['maxlength']){
          <span style="color: #8119db">Maximum length is 40 characters</span>
          }
        </span>
      </div>
      <div class="col col-12 col-md-5 form-group mb-2">
        <label for="coachemail" class="col-form-label">E-mail</label>
        <input
          type="text"
          name="coachemail"
          id="coachemail"
          class="form-control"
          placeholder="E-mail"
          required
          email
          maxlength="50"
          minlength="10"
          [(ngModel)]="user.email"
          #emailInput="ngModel"
          [ngClass]="{
            'is-invalid':
              (emailInput.touched || emailInput.dirty) && !emailInput.valid
          }"
        />
        <span class="invalid-feedback">
          @if(emailInput.errors?.['required']){
          <span style="color: #8119db">Email is required</span>
          } @if(emailInput.errors?.['email']){
          <span style="color: #8119db">Enter a valid Email</span>
          }
        </span>
      </div>

      <div class="col col-12 col-md-5 form-group mb-2">
        <label for="password" class="col-form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z\d]{8,20}$"
          placeholder="Password"
          required
          [(ngModel)]="user.password"
          #passwordInput="ngModel"
          [ngClass]="{
            'is-invalid':
              (passwordInput.touched || passwordInput.dirty) &&
              !passwordInput.valid
          }"
        />
        <span class="invalid-feedback">
          @if(passwordInput.errors?.['required']){
          <span style="color: #8119db">Password is required</span>
          } @if(passwordInput.errors?.['pattern']){
          <span style="color: #8119db"
            >Password must be(one digit-one uppercase letter-one lowercase
            letter- length8:20)</span
          >
          }
        </span>
      </div>

      <div class="col col-12 col-md-5 form-group mb-2">
        <label for="Cpassword" class="col-form-label"> Confirm Password</label>
        <input
          type="password"
          name="Cpassword"
          id="Cpassword"
          class="form-control"
          placeholder="Confirm Password"
          required
          [(ngModel)]="user.Cpassword"
          #CpasswordInput="ngModel"
          [ngClass]="{
            'is-invalid':
              (CpasswordInput.touched || CpasswordInput.dirty) &&
              !CpasswordInput.valid
          }"
        />
        <span class="invalid-feedback">
          @if(CpasswordInput.errors?.['required']){
          <span style="color: #8119db">Confirmed Password is required</span>
          }
        </span>
      </div>

      <div class="col col-12 col-md-5 form-group">
        <label for="phone_number"> Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phone_number"
          pattern="^(01)[0-9]{9}$"
          name="phone_number"
          [(ngModel)]="user.phone_number"
          placeholder="Enter Phone Number"
          required
          #PhoneInput="ngModel"
          [ngClass]="{
            'is-invalid':
              (PhoneInput.touched || PhoneInput.dirty) && !PhoneInput.valid
          }"
        />
        <span class="invalid-feedback">
          @if(PhoneInput.errors?.['pattern']){
          <span style="color: #8119db">Phone Number Must be correct</span>
          } @if(PhoneInput.errors?.['required']){
          <span style="color: #8119db">Phone is required</span>
          }
        </span>
      </div>

      <div class="col col-12 col-md-5 form-group">
        <label for="birth_date">Birth Date</label>
        <input
          type="date"
          class="form-control"
          id="birth_date"
          name="birth_date"
          [(ngModel)]="user.birth_date"
          placeholder="Enter Birth Date"
          required
        />
      </div>

      <div class="col col-12 col-md-5 form-group">
        <label for="height">Height (cm)</label>
        <input
          type="number"
          class="form-control"
          id="height"
          name="height"
          [(ngModel)]="user.height"
          placeholder="Enter height"
          #heightInput="ngModel"
          required
          min="0"
        />
        <span class="invalid-feedback">
          @if(heightInput.errors?.['required']){
          <span style="color: #8119db">height is required</span>
          } @if(heightInput.errors?.['min']){
          <span style="color: #8119db">Height must be a positive number</span>
          }
        </span>
      </div>

      <div class="col col-12 col-md-5 form-group">
        <label for="weight">weight (KG)</label>
        <input
          type="number"
          class="form-control"
          id="weight"
          name="weight"
          [(ngModel)]="user.weight"
          placeholder="Enter weight"
          #weightInput="ngModel"
          required
          min="0"
        />
        <span class="invalid-feedback">
          @if(weightInput.errors?.['required']){
          <span style="color: #8119db">Weight is required</span>
          } @if(weightInput.errors?.['min']){
          <span style="color: #8119db">Weight must be a positive number</span>
          }
        </span>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 mb-3">
            <div class="mb-3">
              <label for="profilePicture" class="form-label"
                >Profile Picture</label
              >
              <input
                type="file"
                class="form-control form-control-lg"
                id="profilePicture"
                name="profilePicture"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
              <div id="profilePictureHelp" class="form-text">
                Choose a profile picture to upload.
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="col-8 m-auto btn btn-primary mt-4"
        [disabled]="addPlanForm.invalid"
        style="background-color: #8119db"
      >
        Submit
      </button>
    </div>
    <!-- <p> errors: {{NameInput.errors | json}}</p> -->
  </form>
</div>
