.slideDashboard{
  background-color: #fbfbff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fixed-left {
  position: fixed;
  left: 0;
}

.linkTitle{
  color: #898686;
  font-weight: 600;
  text-transform: capitalize;
}

i{
  color: #8119db;
  font-weight: bold;
}

.dropdown {
  position: fixed;
  bottom: 0;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .slideDashboard {
    width: 100%;
  }
  .min-vh-100 {
    min-height: 100vh;
  }
  .fixed-left {
    position: relative;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 768px) {
  .slideDashboard {
    width: auto;
  }
  .fixed-left {
    position: fixed;
    width: 100px;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
  }
}

/* Adjustments for small screens */
@media (max-width: 768px) {
  .nav-pills .text-decoration-none span {
    display: none;
  }
}


/* Style adjustments */
.dropdown-menu {
  position: static !important;
  z-index: 1;
}
