section {
  background-color: #e9ecef;
  padding: 40px;

  /* How elements that don't fit into container appear */
  overflow: scroll;

  display: flex;
  flex-direction: column;
  gap: 40px;
}


section {
  padding-top: 24px;
}
