.slideDashboard{
  background-color: #fbfbff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fixed-left {
  position: fixed;
  left: 0;
}

.linkTitle{
  color: #898686;
  font-weight: 600;
  text-transform: capitalize;
}

i{
  color: #8119db;
  font-weight: bold;
}

.dropdown {
  position: fixed;
  bottom: 0;
}
