.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-image: linear-gradient(to right, #6465ed, #4c6ee8, #3c82f7);
}

.routesBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    /* background-color:#3c82f7; */
    transition: .3s ease;
}

.routesBtn:hover {
    background-color: #3c82f7;
}


.routesHomeBtn {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 10px 10px 0;
    width: 15%;
}

.routesHomeBtn:hover {
    background-color: #000000c5;
}

.routesHomeBtn a {
    text-decoration: none;
    color: #fff;
}

.routesHomeBtn img {
    width: 30px;
}