body {
  background: linear-gradient(to right, #4520ecad, #eee4ee);
  font-family: sans-serif;
}
.inputsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.loginHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  height: 100vh;
}
.custom_form_holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 245, 249);
  background-color: FFFFFF;
  box-shadow: 20px;
  width: 80%;
  /* height: 40rem; */
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.09);
  padding: 25px;
  border-radius: 19px;
}
.custom_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gym_title {
  color: rgb(135, 31, 161);
  display: flex;
  align-items: center;
  gap: 7px;
}

.btn {
  border: none;
  color: white;
  background-color: rgba(120, 70, 212, 0.884);
  padding: 11px;
  border-radius: 10px;
  display: block;
  width: 45%;
  margin: 12px auto;
  margin-bottom: 2rem;
  font-weight: bold;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 768px) {
  .input {
    width: 100%;
  }
  .custom_form_holder {
    margin-top: 9rem;
  }
}
