body {
  background: linear-gradient(to right, #4520ecad, #eee4ee);
  font-family: sans-serif;
}

.loginHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
  height: 100vh;
}
.custom_form_holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 245, 249);
  background-color: FFFFFF;
  box-shadow: 20px;
  width: 80%;
  /* height: 40rem; */
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.09);
  padding: 25px;
  border-radius: 19px;
}
.custom_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gym_title {
  color: rgb(135, 31, 161);
}
.input {
  width: 20vw;
  border-radius: 20px;
  background: linear-gradient(to right, #d9c3f873, #eee4ee);
  border: 2px solid rgb(235, 235, 235); /* Add an initial border color */
  padding: 10px;
  margin-bottom: 15px;
  transition: border-color 0.3s;
  outline: none;
}

.input:focus {
  border-color: #4d34db4d;
  outline: none;
  /* Change the border color to your desired color when in focus */
}
.input-with-icon {
  position: relative;
}

.input-with-icon input::placeholder {
  padding-left: 30px; /* Adjust the padding as needed */
}

.input-with-icon .placeholder-icon {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; /* Adjust the font size as needed */
}
.btn {
  border: none;
  color: white;
  background-color: rgba(120, 70, 212, 0.884);
  padding: 11px;
  border-radius: 10px;
  display: block;
  width: 45%;
  margin: 12px auto;
  margin-bottom: 2rem;
  font-weight: bold;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 768px) {
  .input {
    width: 100%;
  }
  .custom_form_holder {
    margin-top: 9rem;
  }
}
