<div class="row" *ngIf="this.plans && this.plans.length > 0">
  @for (plan of this.plans; track plans.id) {
    <div class="col-md-4 mb-4">
      <h4>{{ plan.title }}</h4>
      <img src="{{ plan.profile_picture }}" />
      <p class="card-text">{{ plan.description }}</p>
      <p class="card-text">Fee: {{ plan.fee }}</p>
    </div>
  }
</div>



<h2>Add New Plan</h2>
<form #addPlanForm="ngForm" (ngSubmit)="addPlan()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      [(ngModel)]="plans.newPlanName"
      placeholder="Enter title"
      #titleInput="ngModel"
      required
    />
    <div
      *ngIf="titleInput.invalid && (titleInput.touched || titleInput.dirty)"
      class="invalid-feedback"
    >
      Please provide a valid title.
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      [(ngModel)]="plans.newPlanDescription"
      placeholder="Enter description"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <label for="fee">Fee</label>
    <input
      type="number"
      class="form-control"
      id="fee"
      name="fee"
      [(ngModel)]="plans.newPlanFee"
      placeholder="Enter fee"
      required
    />
  </div>
  <div class="form-group">
    <label for="profilePicture">Profile Picture</label>
    <input
      type="file"
      class="form-control-file"
      id="profilePicture"
      name="profilePicture"
      (change)="onFileSelected($event)"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="addPlanForm.invalid"
  >
    Submit
  </button>
</form>
