<div class="row" style="margin: 0px;">
<table class="table table-hover table-centered mb-0">
  <thead>
      <tr>
        <th>Plan Title</th>
        <th>Price</th>
        <th>Show Plan Details</th>
      </tr>
  </thead>
  <tbody>
    @for (plan of this.plans; track plan._id) {
      <tr>
        <td>{{ plan.title }}</td>
        <td>{{ plan.fee }}</td>
        <td>
          <button class="btn btn-success" [routerLink]="['details', plan._id]">Details</button>
        </td>
      </tr>
      }
  </tbody>
</table>
</div>

<router-outlet></router-outlet>

