.inputWrapper {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}
.inputGroup {
  display: flex;
  align-items: center;
  /* scss */
  svg {
    color: #535353;
  }
  position: relative;
}
.inputGroup .iconWrapper {
  position: absolute;
  left: 7px;
}
.iconWrapper {
  padding-bottom: 3px;
}
.inputGroup .inputWrapper input[type="date"] {
  text-align: end;
  padding: 6px 2.5rem;
}
.placeholderLabel {
  position: absolute;
  left: 20px;
  top: 95%;
  pointer-events: none;
  font-size: 20px;
  color: #e2e2e2 !important;
}

.inputGroup .inputWrapper input[type="date"]:focus + .placeholderLabel,
.inputGroup
  .inputWrapper
  input[type="date"]:not(:placeholder-shown)
  + .placeholderLabel {
  transform: translateY(-102%) scale(0.8);
  color: #535353;
}
/* .inputGroup .inputWrapper {
} */
.inputGroup .input {
  padding-left: 30px;
}

.input {
  border-radius: 5px;
  background: white;
  border: none;
  padding: 6px 8px;
  transition: box-shadow 0.1s ease-in-out;
  outline: none;
}
.input::placeholder {
  color: #e2e2e2;
}

.input:focus {
  box-shadow: 0px 0px 0.5px 2.5px #711eba68;
}

.inputDanger:focus {
  box-shadow: 0px 0px 0.5px 2.5px rgb(177, 7, 7);
}

.errors {
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: 13px;
  margin-top: 7px;
}
.errorField {
  font-size: 10px;
  font-weight: bold;
  color: rgb(177, 7, 7);
}
