   /* Define the color for the arrow icon */
   .fa-arrow-trend-up {
    color:  #2f855a; 
  }
 
.fa-arrow-trend-down{
    color: #a33030; 
  }

  .shadow {
    box-shadow: 0 0.5rem 0.5rem rgba(112, 109, 109, 0.15); 
    border-radius: 10px; 
  }

  .head {
    background-color: #f8f9fa; 
    padding: 10px; 
    border-bottom: 1px solid #dee2e6;
    border-radius: 5px 5px 0 0;
  }