.trainee-item {
  background-color: #f8f9fa; /* Light gray background */
  transition: background-color 0.2s ease; /* Smooth hover effect */
}

.trainee-item:hover {
  background-color: #e9ecef; /* Slightly darker on hover */
}



.feedback-card {
  width: 100%;
}

.feedback-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 10px;
}

.feedback-item .feedback-content {
  padding: 15px;
}

.client-name {
  color: #1976d2;
  margin-bottom: 5px;
}

.comment {
  margin-bottom: 5px;
}

.rating {
  font-weight: bold;
  color: #28a745;
}

.feedback-item:hover,
.trainee-item:hover
{
  background-color: #e9ecef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-comments,
.fa-user {
  font-size: 1.2rem;
  color: #1976d2; 
}

.feedback-content2 {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 100%; 
}
.bold{   
  font-weight: bold;
  font-size: 1rem;
}