.container {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px; 
}


.table tbody tr {
  background-color: white;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.table tbody tr td {
  vertical-align: top;
  padding: 15px; 
}

.table tbody tr td:not(:last-child) {
  border-bottom: 1px solid #f0f0f0; 
}


.table tbody tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table tbody tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn {
  margin-top: 10px; 
}

.table img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
